<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if custumer_signed_in? %>
     <%= link_to 'logout',destroy_custumer_session_path ,method: :delete %>
     <% else %>
     <%= link_to 'login',new_custumer_session_path %>

    <% end %>

    <%= yield %>
  </body>
</html>
